
*$py.class
1
build/
dist/
.DS_Store
*.egg-info/
.eggs/
.env
# Environment
# IDE
.idea/
# OS
__pycache__/
*.py[cod]
# Python
# stt/
stt-ui/src-tauri/binaries/
Thumbs.db
.venv/
venv/
# Virtual environment
.vscode/
